<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egoist.mall.item.basic.dao.SpuMapper">
  <resultMap id="BaseResultMap" type="com.egoist.mall.item.basic.pojo.Spu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="origin_country_id" jdbcType="BIGINT" property="originCountryId" />
    <result column="production_country_id" jdbcType="BIGINT" property="productionCountryId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `cn_name`, `brand_id`, `origin_country_id`, `production_country_id`, `category_id`, 
    `created_at`, `updated_at`
  </sql>
  <select id="selectByExample" parameterType="com.egoist.mall.item.basic.pojo.SpuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_spu
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_spu
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.egoist.mall.item.basic.pojo.SpuExample">
    delete from tb_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    insert into tb_spu (`id`, `cn_name`, `brand_id`, 
      `origin_country_id`, `production_country_id`, `category_id`, 
      `created_at`, `updated_at`)
    values (#{id,jdbcType=BIGINT}, #{cnName,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, 
      #{originCountryId,jdbcType=BIGINT}, #{productionCountryId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    insert into tb_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="cnName != null">
        `cn_name`,
      </if>
      <if test="brandId != null">
        `brand_id`,
      </if>
      <if test="originCountryId != null">
        `origin_country_id`,
      </if>
      <if test="productionCountryId != null">
        `production_country_id`,
      </if>
      <if test="categoryId != null">
        `category_id`,
      </if>
      <if test="createdAt != null">
        `created_at`,
      </if>
      <if test="updatedAt != null">
        `updated_at`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="originCountryId != null">
        #{originCountryId,jdbcType=BIGINT},
      </if>
      <if test="productionCountryId != null">
        #{productionCountryId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.egoist.mall.item.basic.pojo.SpuExample" resultType="java.lang.Long">
    select count(*) from tb_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_spu
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cnName != null">
        `cn_name` = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        `brand_id` = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.originCountryId != null">
        `origin_country_id` = #{record.originCountryId,jdbcType=BIGINT},
      </if>
      <if test="record.productionCountryId != null">
        `production_country_id` = #{record.productionCountryId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null">
        `category_id` = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.createdAt != null">
        `created_at` = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        `updated_at` = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_spu
    set `id` = #{record.id,jdbcType=BIGINT},
      `cn_name` = #{record.cnName,jdbcType=VARCHAR},
      `brand_id` = #{record.brandId,jdbcType=BIGINT},
      `origin_country_id` = #{record.originCountryId,jdbcType=BIGINT},
      `production_country_id` = #{record.productionCountryId,jdbcType=BIGINT},
      `category_id` = #{record.categoryId,jdbcType=BIGINT},
      `created_at` = #{record.createdAt,jdbcType=TIMESTAMP},
      `updated_at` = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    update tb_spu
    <set>
      <if test="cnName != null">
        `cn_name` = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        `brand_id` = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="originCountryId != null">
        `origin_country_id` = #{originCountryId,jdbcType=BIGINT},
      </if>
      <if test="productionCountryId != null">
        `production_country_id` = #{productionCountryId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        `category_id` = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        `created_at` = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        `updated_at` = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    update tb_spu
    set `cn_name` = #{cnName,jdbcType=VARCHAR},
      `brand_id` = #{brandId,jdbcType=BIGINT},
      `origin_country_id` = #{originCountryId,jdbcType=BIGINT},
      `production_country_id` = #{productionCountryId,jdbcType=BIGINT},
      `category_id` = #{categoryId,jdbcType=BIGINT},
      `created_at` = #{createdAt,jdbcType=TIMESTAMP},
      `updated_at` = #{updatedAt,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.egoist.mall.item.basic.pojo.Spu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="origin_country_id" jdbcType="BIGINT" property="originCountryId" />
    <result column="production_country_id" jdbcType="BIGINT" property="productionCountryId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `cn_name`, `brand_id`, `origin_country_id`, `production_country_id`, `category_id`, 
    `created_at`, `updated_at`
  </sql>
  <select id="selectByExample" parameterType="com.egoist.mall.item.basic.pojo.SpuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_spu
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_spu
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.egoist.mall.item.basic.pojo.SpuExample">
    delete from tb_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    insert into tb_spu (`id`, `cn_name`, `brand_id`, 
      `origin_country_id`, `production_country_id`, `category_id`, 
      `created_at`, `updated_at`)
    values (#{id,jdbcType=BIGINT}, #{cnName,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, 
      #{originCountryId,jdbcType=BIGINT}, #{productionCountryId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    insert into tb_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="cnName != null">
        `cn_name`,
      </if>
      <if test="brandId != null">
        `brand_id`,
      </if>
      <if test="originCountryId != null">
        `origin_country_id`,
      </if>
      <if test="productionCountryId != null">
        `production_country_id`,
      </if>
      <if test="categoryId != null">
        `category_id`,
      </if>
      <if test="createdAt != null">
        `created_at`,
      </if>
      <if test="updatedAt != null">
        `updated_at`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="originCountryId != null">
        #{originCountryId,jdbcType=BIGINT},
      </if>
      <if test="productionCountryId != null">
        #{productionCountryId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.egoist.mall.item.basic.pojo.SpuExample" resultType="java.lang.Long">
    select count(*) from tb_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_spu
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cnName != null">
        `cn_name` = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        `brand_id` = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.originCountryId != null">
        `origin_country_id` = #{record.originCountryId,jdbcType=BIGINT},
      </if>
      <if test="record.productionCountryId != null">
        `production_country_id` = #{record.productionCountryId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null">
        `category_id` = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.createdAt != null">
        `created_at` = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        `updated_at` = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_spu
    set `id` = #{record.id,jdbcType=BIGINT},
      `cn_name` = #{record.cnName,jdbcType=VARCHAR},
      `brand_id` = #{record.brandId,jdbcType=BIGINT},
      `origin_country_id` = #{record.originCountryId,jdbcType=BIGINT},
      `production_country_id` = #{record.productionCountryId,jdbcType=BIGINT},
      `category_id` = #{record.categoryId,jdbcType=BIGINT},
      `created_at` = #{record.createdAt,jdbcType=TIMESTAMP},
      `updated_at` = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    update tb_spu
    <set>
      <if test="cnName != null">
        `cn_name` = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        `brand_id` = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="originCountryId != null">
        `origin_country_id` = #{originCountryId,jdbcType=BIGINT},
      </if>
      <if test="productionCountryId != null">
        `production_country_id` = #{productionCountryId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        `category_id` = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        `created_at` = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        `updated_at` = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.egoist.mall.item.basic.pojo.Spu">
    update tb_spu
    set `cn_name` = #{cnName,jdbcType=VARCHAR},
      `brand_id` = #{brandId,jdbcType=BIGINT},
      `origin_country_id` = #{originCountryId,jdbcType=BIGINT},
      `production_country_id` = #{productionCountryId,jdbcType=BIGINT},
      `category_id` = #{categoryId,jdbcType=BIGINT},
      `created_at` = #{createdAt,jdbcType=TIMESTAMP},
      `updated_at` = #{updatedAt,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>